*{
	font-family: "Arial";
	margin: 0;
	padding: 0;
}

#container{
	width: 80%;
	margin: 0 auto;
	box-shadow: 0 0 0 darkgray;
}

#content > h1 {
	text-align: center;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	color: lightcoral;
}
