*{
	font-family: "Arial";
	margin: 0;
	padding: 0;
}

#container{
	width: 800px;
	margin: 0 auto;
	box-shadow: 3px 3px 3px gray;
}

#content > h1 {
	text-align: right;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: darkgreen;
}
